
nav{ /* Navigation font size, color */
    background-color: #ffffff !important; 
    font-size: 14px !important;
}

li{ /* Navigation Links Padding */
    padding-right: 10px;
    padding-left: 10px;
}

footer{
    background-color: #FFF !important;
}

#tedInfo{
    padding: 3rem;
    border-radius: 5px;
}

#tedxLogo{ /* Website Logo */
    width: 17%;
    height: 17%;
    padding: 5px;
}

#empowerLogo{ /* Website Logo */
    width: 14%;
    height: 14%;
    padding: 5px;
}

@media (max-width: 600px){
    #tedxLogo{
        width: 50%;
        height: 50%;
        padding: 10px;
    }
}

@media (max-width: 600px){
    #empowerLogo{
        width: 40%;
        height: 40%;
        padding: 5px;
    }
}

@media (max-width: 600px){
    .desktopLogo{
        display: none;
    }
}

@media (min-width: 600px){
    .mobileLogo{
        display: none;
    }
}

.checkBackLater{
    display: flex;
    height: 20rem;
    justify-content: center;
    align-items: center;
}

#checkBackText{
    border: double 5px #5e5a5a;
    border-radius: 10px;
    padding: 20px;
}

#sponsorLogos{
    padding: 15px;
    width: 70%;
    height: 70%;
}


